{% extends 'clientportalmain.html' %}
{% block content %}
<h1>your profile</h1>


<div class="row">
    <div class="col s6">
      <div class="card">
        <div class="card-content">
          <span class="card-title">{{ client.name }}</span>
          <p>First Name: {{ client.firstname }}</p>
          <p>Last Name: {{ client.lastname }}</p>
          <p>Email: {{ client.email }}</p>
          <p>Age: {{ client.age }}</p>
          <p>Location: {{ client.location }}</p>
        </div>
        <div class="card-action">
        </div>
      </div>
      {% for photo in client.photo_set.all %}
      <img class="responsive-img card-panel" src="{{photo.url}}">
      {% empty %}
        <div class="card-panel teal-text center-align">No Photos Uploaded</div>
      {% endfor %}
    
      <form action="{% url 'add_photo_client' client.id %}" method='POST' enctype="multipart/form-data" class='card-panel'>
        {% csrf_token %}
        <input type="file" name="photo-file">
        <br>
        <input type="submit" class='btn' value='Upload Photo'>
      </form>



      </div>
      </div>

{% endblock %}